body{
	margin: 0;

}
h1,h2{
	font-family: 'Euphoria Script', cursive;
}
p{
	font-family: 'Raleway', sans-serif;
}
img{
	display:block;
	margin:0px auto;
	width:100%;
}
/*Header*/

header{
	background-color: white;
	text-align: center;
	padding-top:40px;
	padding-bottom: 40px;
	max-height: 200px;
}

header img{
	width: 300px;
}


div.hero{
	background-image: url("../img/cafe5.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	width: 100%;
	height: 600px;
}

div.info{
	margin:0 auto;
	color:white;
	display: block;
	border:10px black;
	text-align: center;
	padding: 60px;
	padding-top: 100px;
	max-width: 600px;
	line-height: 30px;
}






















/*Main*/

main{
	margin: 0 auto;
	max-width: 1080px;
	height: 400px;
	background-color: white;
	padding:20px 40px 20px 40px;
}

h2{
	font-size:40px;
}

ul h2{
	text-align: center;
}

/*LISTS*/
ul {
	list-style-type: none;
	background-color:white;
	margin:0;
	padding-bottom: 90px
}

li{
	display: inline;
	float: left;
	padding: 20px;
}

li p{
	max-width: 300px;
	padding-bottom: 60px;
}

footer{
	position: relative;
	bottom:0;
	width: 100%;
	padding:20px;
	background-color:white;
}